/* Colors */
$c-dark: #003f9d;
$c-base: #2065ce;
$c-accent: #408cff;
$c-selection: #e1e7f2;
$c-text: #111;
$c-border: #ccc;
$c-bg--dark: #f2f2f2;
$c-bg: #f9f9f9;

/* Shadows */
$s-level1--right: 4px 0 12px rgba(#000,.5);

/* Font stacks */
$f-headers: 'hk_groteskregular', sans-serif;
$f-body: 'hk_groteskregular', sans-serif;
$f-base-size: 20px;