@import '../../assets/styles/tools/variables';
@import '../../assets/styles/tools/functions';
@import '../../assets/styles/tools/mixins';

.editor-backdrop {
    z-index: z(editor);
}

.editor-modal {
    position: relative;
    background: #fff;
    height: 100vh;
    width: 100%;
}

.editor-header {
    position: relative;
    background: $c-base;
    color: #fff;
    height: 48px;
    font-family: 'hk_groteskbold';
    &__title {
        @include center-absolute(true, true);
        top: 22px;
    }
    &__btn {
        @include center-absolute(false, ture);
        font-size: 24px;
        right: 8px;
    }
}

// @notes
// [1] 20px is the regular margin and 24px is the label margin
.editor-content {
    position: absolute;
    top: 48+20px;
    left: 20px;
    right: 0;
    bottom: 84px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 20px 20+24px 0; // [1]
}

.editor-footer {
    border-top: 1px solid $c-border;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 84px;
    padding: 0 20px;
}

@media screen and (min-width:"700px") {
    .editor-modal {
        height: 80vh;
        min-height: 400px;
        max-height: 1200px;
        width: 60%;
        max-width: 900px;
        border-radius: 4px;
        overflow-y: hidden;
        box-shadow: $s-level1;
        border: 1px solid $c-border;
    }
    // @notes
    // [1] For the sake of vertical align
    .editor-header {
        height: 84px;
        background: $c-dark;
        &__btn {
            transition: all .2s ease;
            border: 1px solid #fff;
            height: 40px;
            min-width: 40px;
            border-radius: 20px;
            right: 16px;
            &:hover {
                background: $c-accent;
                border: 1px solid $c-accent;
            }
        }
        &__title {
            left: 20px;
            right: 72px;
            top: 48%; // [1]
            transform: translate(0,-50%);
            font-size: 28px;
        }
    }
    .editor-content {
        top: 84+20px;        
    }
}