@import '../../assets/styles/tools/variables';
@import '../../assets/styles/tools/functions';
@import '../../assets/styles/tools/mixins';

th,
td {
    padding: 8px;
    white-space: nowrap;
    &:not(:last-child) {
        border-left: 1px solid $c-bg--dark;
    }
}

.Main {
    position: relative;
    height: 100vh;
    background: #fff;
}

.maskMain {
    &::after {
        @include pseudo(100%, 100%, rgba(#fff, .5));
        top: 0;
        left: 0;
    }
}

// @notes
// [1] For the sake of alignment
.main-header {
    position: relative;
    height: 48px;
    background: $c-base;
    color: #fff;
    font-family: 'hk_groteskbold';
    &__icon {
        @include center-absolute(false, true);
        left: 8px;
        font-size: 24px;
    }
    &__title {
        @include center-absolute(true, true);
        top: 22px; // [1]
    }
}

.main-content {
    position: absolute;
    left: 0;
    top: 48px;
    right: 0;
    bottom: 0;
}

.main-table-container {
    border: 1px solid $c-border;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    overflow: scroll;
}

.main-table {
    &__header {
        font-family: 'hk_groteskbold';
        background: $c-bg--dark;
    }
    &__row {
        &:nth-child(odd) {
            background: $c-bg;
        }
        &:hover {
            background: $c-selection;
        }
    }
}

.edit-trigger {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    &::before {
        @include pseudo(auto, auto, transparent, '\e904');
        @include center-absolute(false, true);
        font-family: 'icomoon';
        font-size: 28px;
        left: 8px;
        opacity: 0;
    }
    &:hover {
        text-decoration: underline;
        &::before {
            opacity: .75;
        }
    }
}

@media screen and (min-width:"700px") {
    .Main {
        margin-left: 200px;
    }
    .maskMain {
        &::after {
            display: none;
        }
    }
    // @notes
    // [1] For the sake of alignment
    .main-header {
        height: 88px;
        background: transparent;
        color: $c-base;
        border-bottom: 1px solid $c-border;
        &__icon {
            display: none;
        }
        &__title {
            left: 20px;
            top: 48%; // [1]
            transform: translate(0,-50%);
            font-size: 32px;
        }
    }
    .main-content {
        top: 88px;
    }
}