.btn {
    height: 44px;
    min-width: 44px;
    border-radius: 22px;
    transition: all .2s ease;
}

// @notes
// [1] For the sake of vertical alignment
.btn-main {
    border: 1px solid #fff;
    padding: 0 16px;
    color: #fff;
    &:hover {
        border: 1px solid $c-accent;
        background: $c-accent;
    }
    span:last-child { // [1]
        padding-left: 4px;
        position: relative;
        top: -2px;
    }
}

.btn-option {
    min-width: 100px;
    font-family: 'hk_groteskbold';
    &--main {
        border: 2px solid $c-dark;
        background: $c-dark;
        color: #fff;
        &:hover {
            border: 2px solid $c-accent;
            background: $c-accent;
            color: #fff;
        }
    }
    &--secondary {
        border: 2px solid $c-dark;
        color: $c-dark;
        margin-right: 20px;
        &:hover {
            background: rgba($c-accent, .15);
            border: 2px solid $c-accent;
            color: $c-accent;
        }
    }
}