@font-face {
    font-family: 'hk_groteskbold';
    src: url('./assets/fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/hkgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hk_groteskregular';
    src: url('./assets/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Tools */
@import './assets/styles/tools/variables';
@import './assets/styles/tools/functions';
@import './assets/styles/tools/mixins';

/* Base */
@import './assets/styles/base/resetter';
@import './assets/styles/base/typography';

/* Utilities */
@import './assets/styles/utils/layout';
@import './assets/styles/utils/forms';
@import './assets/styles/utils/multimedia';
@import './assets/styles/utils/keyframes';

/* Atoms */
@import './assets/styles/atoms/icons';
@import './assets/styles/atoms/buttons';

/* Molecules */

/* Organisms */
@import './assets/styles/organisms/forms';
@import './assets/styles/organisms/modals';

/* Templates */